/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    height: 100vh;
    width: 100vw;
    background-color: rgb(193, 199, 199);
}

.orderlist {
    max-width: 1200px;
    max-height: 620px;
    width: 100%;
    height: 100%;
    margin: auto;
    transform: translate(0,10%);
    border: 1px solid black;
    display: flex;
}

.orderlist-controls {
    width: 10%;
    height: 100%;
    padding: 10px;
    margin: auto;
}

.orderlist-buttons{
    position: relative;
    width: 50px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.orderlist-buttons button {
    display: block;
    width: 50px;
    height: 50px;
}

.orderlist-container {
    width: 85%;
    height: 100%;
    margin: auto;
    padding: 10px;
}

.orderlist-title {
    position: relative;
    width: 100%;
    height: 10%;
    padding: 1.8%;
    border: 1px solid black;
}

.orderlist-filter-container {
    width: 100%;
    height: 12%;
    padding: 2%;
    border: 1px solid black;
}

.orderlist-filter {
    position: relative;
}

.orderlist-filter input {
    width: 100%;
    height: 2rem;
    margin: 0;
    padding-right: 2rem;
}

.orderlist-filter i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-130%,-50%);
}

.orderlist-list {
    width: 100%;
    height: 78%;
    border: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: auto;
}

.list-articles {
    height: 100%;
    padding: 1.6%;
    margin: auto;
    align-items: center;
}

.article {
    width: 100%;
    height: 4.25rem;
    padding: .438rem;
    align-items: center;
    position: relative;
}

.article-image {
    display: inline-block;
}

.article-image img {
    width: 75px;
    height: 50px;
    margin-right: 1rem;
    box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
}

.article-description {
    display: inline-block;
    position: absolute;
    width: 80%; 
    padding-top: .6rem;
}

.article-name {
    position: relative;
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1;
}

.article-category {
    display: inline-block;
    line-height: 1;
    font-size: .75rem;
} 

.article-price {
    display: inline-block;
}

.price-badge {
    float: right;
    font-size: .85rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-125%);
}

.instock {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    font-weight: 700;
    font-size: .6rem;
    letter-spacing: .3px;
    position: absolute;
    right: 0;
    top: 50%;
    background: #C8E6C9;
    color: #256029;
}